{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} About{% endblock %}

{% block body_block %}

        <h1>About Delivery Optimiser</h1>
<br>
<br>
       <div id="text2"> Delivery Optimiser is a green delivery service which aims to increase efficiency of delivery vehicles by using their return journeys to carry extra cargo. Users can post items which need delivered, drivers can post their routes, and our system will match up drivers' routes with items close by that need delivered, thereby reducing the number of empty trips which delivery vehicles will have to make.<br><br>
 
Any user with a valid drivers license and vehicle can register as a driver and deliver items for their own trips too.
 <br><br>
Contact the team at enquiries@hci.com</div>
   {% endblock %}